<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <title>Om</title>
    </head>

    <body>
        <div id="cont">
            <header>
                <nav>
                    <ul>
                        <li><a href="/">Kurser</a></li>
                        <li><a href="/add">Ny kurs</a></li>
                        <li class="active"><a href="/about">Om</a></li>
                    </ul>
                </nav>
            </header>
            <main id="index">
                
                <h1>Om</h1>
                
                <h2>Webbplatsens syfte och upplägg</h2>
                
                <p> 
                    Jag ska med denna webbplatsen visa en webbplats skapad med ejs, express och sqLite 
                    <br>
                    På index sidan finns alla kurser listade. Där kan man radera och ändra kurser. Väljer man att ändra skickas man till en sida där kursens information är inlagd i förväg. 
                    <br>
                    På sidan som heter ny kurs kan man lägga till nya kurser
                    <br> 
                    Både sidan för att ändra och för att skapa ny kurs får man varning om man inte fyller i informationen korrekt 
                </p>
                
                <h2>Uppgiften och jag</h2>
                
                <p>
                    Jag har använt mig av sqlite3 för att skapa databasen. Vi fick använda vilken typ av relationsdatabas vi ville och jag valde sqLite då jag inte använt det innan men ville lära mig den. 
                    Jag lärde mig en hel del av denna kursen. Jag har inte använt varken express, ejs eller sqLite innan så det var en mycket lärorik erfarenhet.  
                </p>       
                    

            </main>
        </div>
    </body>
</html>