<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Lägg till kurs</title>
</head>
<body>
    <main id="add">
        <h1>Lägg till kurs</h1>
        <form method="post">
            <label for="name">Kursnamn:</label><br>
            <input type="text" id="name" name="name"><br>

            <label for="code">Kurskod:</label><br>
            <input type="text" id="code" name="code"><br>

            <label for="progression">Progression:</label><br>
            <input type="text" id="Progression" name="Progression"><br>

            <label for="name">syllabus:</label><br>
            <input type="text" id="syllabus" name="syllabus"><br>
            
            <input type="submit" value="Lägg till kurs">
        </form>
    </main>
</body>
</html>